@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

p {
  font-family: montserrat, sans-serif;
  font-weight: 200;
}

h3 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: bold;
}

li {
  font-family: montserrat, sans-serif;
  margin-bottom: 10px;
}

hr {
  border: 1px solid black;
}

.addressText {
  margin: 0;
  text-align: center;
}

.galleryContainer {
  position: relative;
  margin-top: 40px;
}

.galleryImg {
  width: 100%;
  height: auto;
}

.galleryBtn {
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 20px;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 5px;
}

.galleryBtn:hover {
  background-color: white;
  color: black;
}

h4 {
  text-align: center;
  font-family: montserrat, sans-serif;
}

.servicesBtn {
  background-color: transparent;
  border: 3px black solid;
  font-family: montserrat, sans-serif;
  margin-top: 40px;
  padding: 5px 20px;
}

.servicesBtn:hover {
    background-color: black;
    color: white;
}
